
.tab{
    font-size: 17px;
    font-weight: 700;
    color: aliceblue;
}
.tabs,.profile{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}
/* .profile{
 
} */
.loginbtn:hover{
 background-color: aliceblue;
}
.loginbtn{
    color: #287ff0;
    font-weight: 800;
   }
.hamberger{
    font-size: 30px;
    /* display: none; */
}
#smallScreen{
display: block;
}
#bigScreen{
    display: block;
}

.main>img{
    mix-blend-mode: color-burn;
    /* border: 1px solid red; */
    width: 15%;
    object-fit: contain; 
    aspect-ratio: 3/1.5;   
}

@media only screen and (max-width:480px) {
    .main>img{
        width: 30%;
        aspect-ratio: 3/2;  
    }
    .tabs{
        display: none;
    }
    #smallScreen{
        display: block;
    }
    #bigScreen{
        display: none;
    }
}